<% userid = params[:format].to_i > 0 ? params[:format].to_i : resource[:id] %>
<% @user = User.find(userid) %>
<h2>Edit <%= resource_name.to_s.humanize %>: <%= @user.username %></h2>

<%= form_for(@user, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
    <div>Currently awaiting confirmation for: <%= @user.unconfirmed_email %></div>
  <% end %>

  <p>
    Role:
    <% if policy(User).edit_role? %>
      <%= f.select(:role, User.rolemap) %>
      <% unless policy(User).identity? @user %><%= f.submit "Update" %><% end %>
    <% else %>
      <strong><%= @user.role %></strong>
    <% end %>
  </p>

  <% if policy(User).identity? @user %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions"><%= f.submit "Update" %></div>
  <% end %>
<% end %>

<h3>Cancel This Account</h3>
<%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<% if policy(User).edit_role? and User.all.size > 1 %>
  <h3>Edit Other Users</h3>
  <table>
    <tr>
      <th>Username</th>
      <th>Role</th>
    </tr>
    <% User.all.each do |u| %>
      <tr>
        <td><%= link_to u.username, edit_user_registration_path(u) %></td>
        <td><%= u.role %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<hr />

<%= link_to "Back", :back %>
